<% content_for(:title) { "Hotels.com TechOps" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="countgraph" data-view="Graph" data-title="Ticket Count" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ops" data-view="People" data-title="Production Support" data-text="A" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rel" data-view="People" data-title="Release Support" data-text="A" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="triage" data-view="Number" data-title="Triage Q" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ready" data-view="Number" data-title="Ready Q" data-moreinfo="" data-prefix=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="raised" data-view="Number" data-title="Raised (7 days)" data-moreinfo="" data-prefix=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="resolved" data-view="Number" data-title="Resolved (7 days)"  data-moreinfo="" data-prefix=""></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Hotels.com TechOps</div></center>
</div>
