<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.widget_base_dimensions = [370, 340]
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1}]')
  Dashing.numColumns = 5
});
</script>

<% content_for(:title) { "Hotels.com TechOps" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="countgraph" data-view="Graph" data-title="Ticket Count" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ops" data-view="People" data-title="Production Support" data-text="A" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rel" data-view="People" data-title="Release Support" data-text="A" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="triage" data-view="Number" data-title="Triage Q" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ready" data-view="Number" data-title="Ready Q" data-moreinfo="" data-prefix=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="raised" data-view="Number" data-title="Raised (7 days)" data-moreinfo="" data-prefix=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="resolved" data-view="Number" data-title="Resolved (7 days)"  data-moreinfo="" data-prefix=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rca" data-view="Number" data-title="RCA Q" data-moreinfo="" data-prefix=""></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Hotels.com TechOps</div></center>
</div>
